.dashboard {
  display: flex;
  border-radius: 10px;
}

.dashboard-container {
  display: flex;
  flex-grow: 1;
  border-radius: 10px;
}

.dashboard-main {
  flex-grow: 1;
  padding: 20px;
  border-radius: 10px;
}

.sidebar-open .dashboard-container {
  margin-left: 240px;
}

.sidebar-closed .dashboard-container {
  margin-left: 60px;
}
